@import "src/shared/scss/settings";

.vod-container {
  height: 100vh;
  width: 100%;

  .vod-chat {
    height: calc(100vh - 45px);
    display: flex;
    flex-direction: row;
    overflow-y: hidden;

    .vod-player {
      width: 100%;
      height: 100%;
    }

    .chat {
      height: 100%;
      width: 24rem;

      display: flex;
      flex-direction: column;
      border-left: 2px solid #4a4a5f;

      font-family: Inter, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

      .chat-header {
        position: relative;
        height: 50px;
        min-height: 50px;
        border-bottom: 2px solid #4a4a5f;
        display: flex;
        background-color: #1e1e2b;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;
        padding: 0 $m-size;

        .category-button {
          &:hover {
            color: $lirik-blue;
            cursor: pointer;
          }
        }
      }

      .category-dropdown {
        transition: max-height 0.2s ease-in-out, opacity 0.2s ease-out;
        width: 100%;
        background-color: #18181b;
        flex-direction: column;
        position: relative;
        z-index: 10;
        display: flex;
        opacity: 0;
        max-height: 0;
        margin: 0;

        .category-dropdown-header {
          height: 30px;
          width: 100%;
          align-content: center;
          align-items: center;

          p {
            margin: 0 5px;
            font-size: $s-size;
          }
        }

        .category-dropdown-content {
          width: 100%;
          height: 100%;
          overflow-y: auto;
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          padding: 0 5px;
        }
      }

      .category-dropdown.active {
        opacity: 1;
        height: auto;
        max-height: 300px;
        margin-bottom: 5px;
        border-bottom: solid 2px white;
      }

      .message-list {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        padding: 0 $xs-size;

        background-color: #18181b;

        .message {
          margin: 0 0 0.5rem 0;
          word-break: break-word;
          overflow-wrap: break-word;
          font-size: 15px;

          .message_autor {
            font-weight: bold;
          }

          .message-content {
            img {
              vertical-align: middle;
              display: inline-block;
              position: relative;
              margin: -.5rem 0;
            }
          }
        }
      }
    }
  }
}

:host ::ng-deep .message > .message-content > .emote-image {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  margin: -.5rem 0;
}

.emote-image {
  vertical-align: middle;
}
