<div class="vod-container">
  <app-vod-nav></app-vod-nav>

  <div class="vod-chat">
    <!--Video player-->
    <div class="vod-player">
      <youtube-player
        #player
        [videoId]="ytVideoId"
        (ready)="onReady($event)"
        (stateChange)="onStateChange($event)"
        width="100%"
        height="100%"
      >

      </youtube-player>
    </div>
    <!--Chat-->
    <div class="chat">
      <div class="chat-header">
        <span>Vod Chat Replay</span>
        <i class="pi pi-list category-button" (click)="toggleChapterView()"></i>
        <div class="category-dropdown" [ngStyle]="{display: viewChapterSelect ? 'flex' : 'none'}" #chapterSelect>
          <div class="category-dropdown-header">
            <p>Chapter Select</p>
          </div>
          <div class="category-dropdown-content custom-scrollbar">
            <div *ngIf="vodMetadata && vodMetadata.games?.length != 0">
              <app-filter-game *ngFor="let game of vodMetadata?.games" [game]="convertMetaToGame(game)" [small]="true">
              </app-filter-game>
            </div>
          </div>
        </div>
      </div>
      <div class="message-list custom-scrollbar" #messageList>
        <div class="message" *ngFor="let msg of this.viewChat" #messages>
          <span class="message_autor" [style.color]="msg.messageContent.userColor">{{msg.commenter.displayName}}</span>: {{msg.messageContent.body}}
        </div>
      </div>
    </div>
  </div>
</div>
