<div class="footer-container">
  <div class="footer-splitter">
    <div class="footer-1">
      <h3>Front-end by</h3>
      <span class="name">Serenity</span>
      <div class="icon-text">
        <img class="icon-img" src="/assets/images/github-logo.png" alt="Github Icon">
        <a href="https://github.com/Daniele122898" target="_blank">GitHub</a>
      </div>
      <div class="icon-text">
        <img class="icon-img" src="/assets/images/twitch-logo.svg" alt="Twitch Icon">
        <a href="https://www.twitch.tv/serenity_c7" target="_blank">Twitch</a>
      </div>
    </div>

    <div class="footer-2">
      <h3>Back-end by</h3>
      <span class="name">Pwn</span>
      <div class="icon-text">
        <img class="icon-img" src="/assets/images/github-logo.png" alt="Github Icon">
        <a href="https://github.com/pwnoz0r" target="_blank">GitHub</a>
      </div>
      <div class="icon-text">
        <img class="icon-img" src="/assets/images/twitch-logo.svg" alt="Twitch Icon">
        <a href="https://www.twitch.tv/pwn" target="_blank">Twitch</a>
      </div>
    </div>

    <div class="footer-3">
      <h3>Support</h3>
      <p class="name">Reach us at:</p>
      <a href="mailto:support@vodfriends.com" class="support-email">support@vodfriends.com</a>
      <p class="log-out" (click)="logout()">Log Out</p>
    </div>
  </div>
</div>
