@import "src/shared/scss/settings";

.login-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 200px;

  .content {

    .disclaimer {
      margin-top: $l-size;
      display: flex;
      flex-direction: column;
      text-align: center;
      word-break: break-word;
      max-width: 850px;
      padding: 0 $m-size;
      color: #868686;
      font-size: 90%;
      .support-email {
        text-decoration: none;
        color: white;
        margin: 0;

        &:hover:link:visited:active {
          text-decoration: none;
          color: white;
        }
      }
    }
    .header {
      text-align: center;

      .title {
        font-size: $l-size;
        margin: 0;

        @media (min-width: $desktop-breakpoint-s) {
          font-size: $xl-size;
        }

        > span {
          color: $lirik-blue;
        }
      }
    }

    .login {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .login-button {
        background-color: $lirik-blue;
        padding: 0.9rem;
        border-radius: 35px;
        font-weight: bold;
        color: black;

        @media (min-width: $desktop-breakpoint-s) {
          padding: $s-size;
        }



        &:hover {
          transform: translate3d(3px, -3px, 0);
          border-left: solid 1px white;
          border-bottom: solid 1px white;
          transition: all .1s;
          -webkit-box-shadow: -3px 3px 0px 0px $lirik-blue;
          -moz-box-shadow: -3px 3px 0px 0px $lirik-blue;
          box-shadow: -3px 3px 0px 0px $lirik-blue;

          cursor: pointer;
        }
      }
    }
  }
}
