<div class="login-container">
  <div class="content">
    <div class="header">
      <h1 class="title">LIRIK<span>.TV</span></h1>
    </div>
    <div class="login">
      <div class="login-button" (click)="onLoginClick()">
        Login with Twitch
      </div>
    </div>
    <div class="disclaimer">
      <p>Due to recent issues with Twitch and DMCA take down requests, we had to remove all past broadcasts from Twitch.
        In response we have launched LIRIK.TV, a past broadcast replay service with Twitch chat integration. By using the
        service, you are authorizing us to store your Twitch ID, username, and profile picture for elements displayed on the
        website and for rate limiting our API endpoints. If you would prefer to not have your data stored for purposes of LIRIK.TV,
        do not authorize your Twitch account on LIRIK.TV. The videos will always be public and available on YouTube. If you have any
        questions, please contact us at
        <a href="mailto:support@vodfriends.com" class="support-email">
          support@vodfriends.com
        </a>.</p>
    </div>
  </div>
</div>
