@import "src/shared/scss/settings";

.vod-card {
  width: 100%;
  height: 250px;

  display: flex;
  flex-direction: column;

  .card-content {
    display: flex;
    width: 100%;
    flex-direction: column;

    &:hover {
      cursor: pointer;
    }


    .thumbnail {
      width: 100%;
      height: fit-content;

      img {
        &:hover {
          transform: translate3d(.6rem, -0.6rem, 0);
          transition: all .1s;
          -webkit-box-shadow: -9px 10px 0px 0px $lirik-blue;
          -moz-box-shadow: -9px 10px 0px 0px $lirik-blue;
          box-shadow: -9px 10px 0px 0px $lirik-blue;
        }
        width: 100%;
      }
    }

    .title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      p {
        margin: 0;
        font-weight: 500;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }


  .chapter-button-container {
    width: 100%;
    display: flex;
    margin-top: 0.3rem;
    z-index: 100;
    position: relative;

    .chapter-button {
      padding: 0.3rem $xs-size;
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      align-content: center;

      background-color: $background-color;
      border-radius: 10px;
      z-index: 100;


      &:hover {
        cursor: pointer;
        background-color: lighten($background-color, 3%);
      }


      span {
        margin-left: $xs-size;
      }

    }

    .chapter-dropdown {
      width: 100%;
      min-height: 200px;
      max-height: 300px;

      background: #18181b;
      border-radius: 10px 10px 0 0;
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 10;
      bottom: 45px;

      -webkit-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.5);

      .chapter-dropdown-header {
        border-radius: 10px 10px 0 0;
        background-color: #18181b;
        border-bottom: 2px solid white;
        height: 30px;
        width: 100%;
        display: flex;
        align-content: center;
        align-items: center;

        p {
          margin: 0 5px;
          font-size: $s-size;
        }
      }

      .chapter-dropdown-content {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        padding: 0 5px;
      }
    }
  }

}
