<div class="vod-card">
  <div class="card-content" (click)="this.clickEvent.emit()">
    <div class="thumbnail">
        <img src="{{GetYtThumb()}}" alt="YtThumb">
    </div>
    <div class="title">
      <p>{{video.video.title}}</p>
    </div>
  </div>

  <div class="chapter-button-container">
    <div class="chapter-button" (click)="toggleChapterView()">
<!--        (click)="toggleChapterView()"-->
      <i class="pi pi-list category-button"></i>
      <span>Chapter List</span>
    </div>
    <div class="chapter-dropdown" [ngStyle]="{display: chapterViewVisible ? 'flex' : 'none'}" #chapterView>
      <div class="chapter-dropdown-header">
        <p>Chapter Select</p>
      </div>
      <div class="chapter-dropdown-content custom-scrollbar">
        <div *ngIf="video?.games && video.games?.length != 0">
          <app-filter-game
            *ngFor="let game of video.games"
            [game]="convertMetaToGame(game)"
            [small]="true"
            (click)="jumpToVodAndGame(game)">
          </app-filter-game>
        </div>
        <div *ngIf="!video?.games || video.games?.length === 0" class="nothing">
          <div class="nothing-content">
            <p>Nothing here...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
