<div class="home">
  <!--Header-->
  <div class="header">
    <div class="header-container">

      <h1>Lirik<span>W</span></h1>

      <div class="search">
        <div class="search-bar">
          <div class="search-bar__padder">

            <!--            [(ngModel)]="youtubeUrl" (keydown.enter)="onYoutubeSearch()"-->
            <input type="text" placeholder="Search">
            <div class="search-bar__icon">
              <!--              <fa-icon [icon]="faSearch"></fa-icon>-->
              <i class="pi pi-search"></i>
            </div>
          </div>
        </div>
      </div>
<!--Dropdown-->
<!--      <div class="wrapper">-->
<!--        <div class="dropdown">-->
<!--          <ul>-->
<!--            <li>All</li>-->
<!--            <li>Recent</li>-->
<!--            <li>Popular</li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->


    </div>


    <!--Search Results-->
    <div>

    </div>
  </div>
