<div class="home">
<!--Header-->
  <div class="header">
    <div class="header-container">
      <div class="search">
        <div class="search-bar">
          <div class="search-bar__padder">

<!--            [(ngModel)]="youtubeUrl" (keydown.enter)="onYoutubeSearch()"-->
            <input type="text"  placeholder="Search">
            <div class="search-bar__icon">
              <!--              <fa-icon [icon]="faSearch"></fa-icon>-->
              <i class="pi pi-search"></i>
            </div>
          </div>
        </div>
    </div>
  </div>

<!--Search-->
  <div>

  </div>

<!--Search Results-->
  <div>

  </div>
</div>
